#settings{
    background-color: hsl(221, 20%, 20%);  
    position: sticky;
    display: inline-block;
    vertical-align: top;
    max-height: 100vh;
    overflow-y: auto; 
}

canvas{
    background-color: hsl(221, 8%, 8%);
    border:1px solid #000000;
}
.canvasWrap{
    display: inline-block;
}